[data-cellid="grid_footcell_field"][data-page="tb_contacts_emails_list"][data-cellid="grid_footcell_field"][data-page="tb_contacts_emails_list"][data-cellid="grid_footcell_field"][data-page="tb_contacts_emails_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="tb_contacts_emails_list"][data-cellid="grid_headcell_icons"][data-page="tb_contacts_emails_list"][data-cellid="grid_headcell_icons"][data-page="tb_contacts_emails_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="tb_contacts_emails_list"][data-cellid="grid_cell_icons"][data-page="tb_contacts_emails_list"][data-cellid="grid_cell_icons"][data-page="tb_contacts_emails_list"] {
  white-space: nowrap;
}


