[data-cellid="grid_c3"][data-page="tbl_company_view"][data-cellid="grid_c3"][data-page="tbl_company_view"][data-cellid="grid_c3"][data-page="tbl_company_view"] {
  height: 100%;
  padding: 5px;
}
[data-cellid="grid_c4"][data-page="tbl_company_view"][data-cellid="grid_c4"][data-page="tbl_company_view"][data-cellid="grid_c4"][data-page="tbl_company_view"] {
  height: 100%;
  padding: 5px;
}
[data-cellid="grid_c5"][data-page="tbl_company_view"][data-cellid="grid_c5"][data-page="tbl_company_view"][data-cellid="grid_c5"][data-page="tbl_company_view"] {
  padding: 5px;
}
[data-cellid="grid_c7"][data-page="tbl_company_view"][data-cellid="grid_c7"][data-page="tbl_company_view"][data-cellid="grid_c7"][data-page="tbl_company_view"] {
  padding: 5px;
}
[data-cellid="grid_c1"][data-page="tbl_company_view"][data-cellid="grid_c1"][data-page="tbl_company_view"][data-cellid="grid_c1"][data-page="tbl_company_view"] {
  padding: 5px;
}
[data-cellid="grid_c8"][data-page="tbl_company_view"][data-cellid="grid_c8"][data-page="tbl_company_view"][data-cellid="grid_c8"][data-page="tbl_company_view"] {
  padding: 5px;
}
[data-cellid="grid_c9"][data-page="tbl_company_view"][data-cellid="grid_c9"][data-page="tbl_company_view"][data-cellid="grid_c9"][data-page="tbl_company_view"] {
  padding: 5px;
}
[data-cellid="grid_c10"][data-page="tbl_company_view"][data-cellid="grid_c10"][data-page="tbl_company_view"][data-cellid="grid_c10"][data-page="tbl_company_view"] {
  padding: 5px;
}
[data-cellid="grid_c11"][data-page="tbl_company_view"][data-cellid="grid_c11"][data-page="tbl_company_view"][data-cellid="grid_c11"][data-page="tbl_company_view"] {
  padding: 5px;
}
[data-cellid="grid_c12"][data-page="tbl_company_view"][data-cellid="grid_c12"][data-page="tbl_company_view"][data-cellid="grid_c12"][data-page="tbl_company_view"] {
  padding: 5px;
}
[data-cellid="section11_c1"][data-page="tbl_company_view"][data-cellid="section11_c1"][data-page="tbl_company_view"][data-cellid="section11_c1"][data-page="tbl_company_view"] {
  height: 100%;
}


