<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tbl_invoice_payments search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN InvoicePaymentID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_InvoicePaymentID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="InvoicePaymentID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="InvoicePaymentID" data-fieldname="InvoicePaymentID" >


	<label class="r-search-label control-label" for="{$labelfor_InvoicePaymentID}">
		{$label tbl_invoice_payments InvoicePaymentID }	</label>
	<div class="r-search-option">
		{$searchtype_InvoicePaymentID}
	</div>
	<div class="r-search-field">
		{$InvoicePaymentID_editcontrol}	</div>
	<div class="r-search-field">
		{$InvoicePaymentID_editcontrol1}
	</div>
	
</div>

{END InvoicePaymentID_fieldblock}
											
{BEGIN InvoicePaymentInvoiceID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_InvoicePaymentInvoiceID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="InvoicePaymentInvoiceID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="InvoicePaymentInvoiceID" data-fieldname="InvoicePaymentInvoiceID" >


	<label class="r-search-label control-label" for="{$labelfor_InvoicePaymentInvoiceID}">
		{$label tbl_invoice_payments InvoicePaymentInvoiceID }	</label>
	<div class="r-search-option">
		{$searchtype_InvoicePaymentInvoiceID}
	</div>
	<div class="r-search-field">
		{$InvoicePaymentInvoiceID_editcontrol}	</div>
	<div class="r-search-field">
		{$InvoicePaymentInvoiceID_editcontrol1}
	</div>
	
</div>

{END InvoicePaymentInvoiceID_fieldblock}
											
{BEGIN InvoicePaymentDate_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_InvoicePaymentDate}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="InvoicePaymentDate{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="InvoicePaymentDate" data-fieldname="InvoicePaymentDate" >


	<label class="r-search-label control-label" for="{$labelfor_InvoicePaymentDate}">
		{$label tbl_invoice_payments InvoicePaymentDate }	</label>
	<div class="r-search-option">
		{$searchtype_InvoicePaymentDate}
	</div>
	<div class="r-search-field">
		{$InvoicePaymentDate_editcontrol}	</div>
	<div class="r-search-field">
		{$InvoicePaymentDate_editcontrol1}
	</div>
	
</div>

{END InvoicePaymentDate_fieldblock}
											
{BEGIN InvoicePaymentType_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_InvoicePaymentType}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="InvoicePaymentType{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="InvoicePaymentType" data-fieldname="InvoicePaymentType" >


	<label class="r-search-label control-label" for="{$labelfor_InvoicePaymentType}">
		{$label tbl_invoice_payments InvoicePaymentType }	</label>
	<div class="r-search-option">
		{$searchtype_InvoicePaymentType}
	</div>
	<div class="r-search-field">
		{$InvoicePaymentType_editcontrol}	</div>
	<div class="r-search-field">
		{$InvoicePaymentType_editcontrol1}
	</div>
	
</div>

{END InvoicePaymentType_fieldblock}
											
{BEGIN InvoicePaymentAmount_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_InvoicePaymentAmount}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="InvoicePaymentAmount{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="InvoicePaymentAmount" data-fieldname="InvoicePaymentAmount" >


	<label class="r-search-label control-label" for="{$labelfor_InvoicePaymentAmount}">
		{$label tbl_invoice_payments InvoicePaymentAmount }	</label>
	<div class="r-search-option">
		{$searchtype_InvoicePaymentAmount}
	</div>
	<div class="r-search-field">
		{$InvoicePaymentAmount_editcontrol}	</div>
	<div class="r-search-field">
		{$InvoicePaymentAmount_editcontrol1}
	</div>
	
</div>

{END InvoicePaymentAmount_fieldblock}
											
{BEGIN InvoicePaymentRefNumber_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_InvoicePaymentRefNumber}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="InvoicePaymentRefNumber{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="InvoicePaymentRefNumber" data-fieldname="InvoicePaymentRefNumber" >


	<label class="r-search-label control-label" for="{$labelfor_InvoicePaymentRefNumber}">
		{$label tbl_invoice_payments InvoicePaymentRefNumber }	</label>
	<div class="r-search-option">
		{$searchtype_InvoicePaymentRefNumber}
	</div>
	<div class="r-search-field">
		{$InvoicePaymentRefNumber_editcontrol}	</div>
	<div class="r-search-field">
		{$InvoicePaymentRefNumber_editcontrol1}
	</div>
	
</div>

{END InvoicePaymentRefNumber_fieldblock}
											
{BEGIN InvoicePaymentFullPayment_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_InvoicePaymentFullPayment}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="InvoicePaymentFullPayment{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="InvoicePaymentFullPayment" data-fieldname="InvoicePaymentFullPayment" >


	<label class="r-search-label control-label" for="{$labelfor_InvoicePaymentFullPayment}">
		{$label tbl_invoice_payments InvoicePaymentFullPayment }	</label>
	<div class="r-search-option">
		{$searchtype_InvoicePaymentFullPayment}
	</div>
	<div class="r-search-field">
		{$InvoicePaymentFullPayment_editcontrol}	</div>
	<div class="r-search-field">
		{$InvoicePaymentFullPayment_editcontrol1}
	</div>
	
</div>

{END InvoicePaymentFullPayment_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
