<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="250px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo1" {$item_logo1}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo1" {$item_logo1} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
 

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="search_panel" {$item_search_panel} data-topcell-item-type="search_panel" >
				<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}" >

	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle btn-sm )" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Search in			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Show options</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>all conditions</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>any condition</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>hide</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_ID}


		<div class="form-group srchPanelRow {$filterRow_class_ID}" {$filterRow_attrs_ID}>
			<label>{$label tbl_address1 ID }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_ID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_ID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_ID}</span>
						</div>
		{END searchCtrlBlock_ID}
																{BEGIN searchCtrlBlock_HoursClose}


		<div class="form-group srchPanelRow {$filterRow_class_HoursClose}" {$filterRow_attrs_HoursClose}>
			<label>{$label tbl_address1 HoursClose }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_HoursClose}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_HoursClose}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_HoursClose}</span>
						</div>
		{END searchCtrlBlock_HoursClose}
																{BEGIN searchCtrlBlock_HoursOpen}


		<div class="form-group srchPanelRow {$filterRow_class_HoursOpen}" {$filterRow_attrs_HoursOpen}>
			<label>{$label tbl_address1 HoursOpen }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_HoursOpen}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_HoursOpen}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_HoursOpen}</span>
						</div>
		{END searchCtrlBlock_HoursOpen}
																{BEGIN searchCtrlBlock_FullAddress}


		<div class="form-group srchPanelRow {$filterRow_class_FullAddress}" {$filterRow_attrs_FullAddress}>
			<label>{$label tbl_address1 FullAddress }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_FullAddress}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_FullAddress}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_FullAddress}</span>
						</div>
		{END searchCtrlBlock_FullAddress}
																{BEGIN searchCtrlBlock_provincecode}


		<div class="form-group srchPanelRow {$filterRow_class_provincecode}" {$filterRow_attrs_provincecode}>
			<label>{$label tbl_address1 provincecode }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_provincecode}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_provincecode}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_provincecode}</span>
						</div>
		{END searchCtrlBlock_provincecode}
																{BEGIN searchCtrlBlock_companyname}


		<div class="form-group srchPanelRow {$filterRow_class_companyname}" {$filterRow_attrs_companyname}>
			<label>{$label tbl_address1 companyname }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_companyname}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_companyname}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_companyname}</span>
						</div>
		{END searchCtrlBlock_companyname}
																{BEGIN searchCtrlBlock_SalesRepID}


		<div class="form-group srchPanelRow {$filterRow_class_SalesRepID}" {$filterRow_attrs_SalesRepID}>
			<label>{$label tbl_address1 SalesRepID }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_SalesRepID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_SalesRepID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_SalesRepID}</span>
						</div>
		{END searchCtrlBlock_SalesRepID}
																{BEGIN searchCtrlBlock_address}


		<div class="form-group srchPanelRow {$filterRow_class_address}" {$filterRow_attrs_address}>
			<label>{$label tbl_address1 address }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_address}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_address}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_address}</span>
						</div>
		{END searchCtrlBlock_address}
																{BEGIN searchCtrlBlock_Comments}


		<div class="form-group srchPanelRow {$filterRow_class_Comments}" {$filterRow_attrs_Comments}>
			<label>{$label tbl_address1 Comments }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Comments}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Comments}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Comments}</span>
						</div>
		{END searchCtrlBlock_Comments}
																{BEGIN searchCtrlBlock_PostalCode}


		<div class="form-group srchPanelRow {$filterRow_class_PostalCode}" {$filterRow_attrs_PostalCode}>
			<label>{$label tbl_address1 PostalCode }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_PostalCode}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_PostalCode}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_PostalCode}</span>
						</div>
		{END searchCtrlBlock_PostalCode}
																{BEGIN searchCtrlBlock_CountryID}


		<div class="form-group srchPanelRow {$filterRow_class_CountryID}" {$filterRow_attrs_CountryID}>
			<label>{$label tbl_address1 CountryID }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_CountryID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_CountryID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_CountryID}</span>
						</div>
		{END searchCtrlBlock_CountryID}
																{BEGIN searchCtrlBlock_ProvinceID}


		<div class="form-group srchPanelRow {$filterRow_class_ProvinceID}" {$filterRow_attrs_ProvinceID}>
			<label>{$label tbl_address1 ProvinceID }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_ProvinceID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_ProvinceID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_ProvinceID}</span>
						</div>
		{END searchCtrlBlock_ProvinceID}
																{BEGIN searchCtrlBlock_Latitude}


		<div class="form-group srchPanelRow {$filterRow_class_Latitude}" {$filterRow_attrs_Latitude}>
			<label>{$label tbl_address1 Latitude }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Latitude}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Latitude}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Latitude}</span>
						</div>
		{END searchCtrlBlock_Latitude}
																{BEGIN searchCtrlBlock_Longitude}


		<div class="form-group srchPanelRow {$filterRow_class_Longitude}" {$filterRow_attrs_Longitude}>
			<label>{$label tbl_address1 Longitude }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Longitude}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Longitude}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Longitude}</span>
						</div>
		{END searchCtrlBlock_Longitude}
																{BEGIN searchCtrlBlock_County}


		<div class="form-group srchPanelRow {$filterRow_class_County}" {$filterRow_attrs_County}>
			<label>{$label tbl_address1 County }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_County}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_County}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_County}</span>
						</div>
		{END searchCtrlBlock_County}
																{BEGIN searchCtrlBlock_City}


		<div class="form-group srchPanelRow {$filterRow_class_City}" {$filterRow_attrs_City}>
			<label>{$label tbl_address1 City }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_City}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_City}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_City}</span>
						</div>
		{END searchCtrlBlock_City}
																{BEGIN searchCtrlBlock_Address2}


		<div class="form-group srchPanelRow {$filterRow_class_Address2}" {$filterRow_attrs_Address2}>
			<label>{$label tbl_address1 Address2 }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Address2}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Address2}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Address2}</span>
						</div>
		{END searchCtrlBlock_Address2}
																{BEGIN searchCtrlBlock_Address1}


		<div class="form-group srchPanelRow {$filterRow_class_Address1}" {$filterRow_attrs_Address1}>
			<label>{$label tbl_address1 Address1 }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Address1}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Address1}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Address1}</span>
						</div>
		{END searchCtrlBlock_Address1}
																{BEGIN searchCtrlBlock_Description}


		<div class="form-group srchPanelRow {$filterRow_class_Description}" {$filterRow_attrs_Description}>
			<label>{$label tbl_address1 Description }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Description}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Description}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Description}</span>
						</div>
		{END searchCtrlBlock_Description}
																{BEGIN searchCtrlBlock_AddressTypeID}


		<div class="form-group srchPanelRow {$filterRow_class_AddressTypeID}" {$filterRow_attrs_AddressTypeID}>
			<label>{$label tbl_address1 AddressTypeID }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_AddressTypeID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_AddressTypeID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_AddressTypeID}</span>
						</div>
		{END searchCtrlBlock_AddressTypeID}
																{BEGIN searchCtrlBlock_CompanyID}


		<div class="form-group srchPanelRow {$filterRow_class_CompanyID}" {$filterRow_attrs_CompanyID}>
			<label>{$label tbl_address1 CompanyID }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_CompanyID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_CompanyID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_CompanyID}</span>
						</div>
		{END searchCtrlBlock_CompanyID}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary btn-sm" id="searchButton{$id}" {$searchbutton_attrs}>Search</button>
		<button class="btn btn-default btn-sm" {$showAllCont_attrs} {$showallbutton_attrs}>Show all</button>
	</div>
</div>
<!-- End Search panel content -->
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button1" {$item_expand_menu_button1} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button1" {$item_expand_menu_button1} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Show all">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="tbl_address1_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Advanced search		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Show search panel		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Hide search panel		
		</a>
	</li>
{END searchPanelTopButtons}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		User Profile		
		</a>
	</li>
{END logoutbutton}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Admin Area		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Change password		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-6
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$details_found_labeldetails_found}
</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>		</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
		[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="ID"]:before {
		content: "{$label tbl_address1 ID}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="CompanyID"]:before {
		content: "{$label tbl_address1 CompanyID}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="AddressTypeID"]:before {
		content: "{$label tbl_address1 AddressTypeID}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Description"]:before {
		content: "{$label tbl_address1 Description}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Address1"]:before {
		content: "{$label tbl_address1 Address1}";
	}
				[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="City"]:before {
		content: "{$label tbl_address1 City}";
	}
						[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="ProvinceID"]:before {
		content: "{$label tbl_address1 ProvinceID}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="CountryID"]:before {
		content: "{$label tbl_address1 CountryID}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="PostalCode"]:before {
		content: "{$label tbl_address1 PostalCode}";
	}
				[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="address"]:before {
		content: "{$label tbl_address1 address}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="companyname"]:before {
		content: "{$label tbl_address1 companyname}";
	}
				[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="provincecode"]:before {
		content: "{$label tbl_address1 provincecode}";
	}
				}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes} r-horizontal-grid  r-flexgrid rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_field10}
	<th
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$address_class}
			"

			data-field="address"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN address_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="address" data-fieldname="address">
	{$label tbl_address1 address }	</span>
{END address_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_cell_field10}
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$CompanyID_class}
			"

			data-field="CompanyID"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CompanyID_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CompanyID" data-fieldname="CompanyID">
	{$label tbl_address1 CompanyID }	</span>
{END CompanyID_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$AddressTypeID_class}
			"

			data-field="AddressTypeID"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN AddressTypeID_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="AddressTypeID" data-fieldname="AddressTypeID">
	{$label tbl_address1 AddressTypeID }	</span>
{END AddressTypeID_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
				 
					{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$Description_class}
			"

			data-field="Description"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Description_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Description" data-fieldname="Description">
	{$label tbl_address1 Description }	</span>
{END Description_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
				 
					{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$Address1_class}
			"

			data-field="Address1"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Address1_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Address1" data-fieldname="Address1">
	{$label tbl_address1 Address1 }	</span>
{END Address1_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
				 
					{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$City_class}
			"

			data-field="City"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN City_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="City" data-fieldname="City">
	{$label tbl_address1 City }	</span>
{END City_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
				 
					{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$PostalCode_class}
			"

			data-field="PostalCode"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN PostalCode_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="PostalCode" data-fieldname="PostalCode">
	{$label tbl_address1 PostalCode }	</span>
{END PostalCode_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
				 
					{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$CountryID_class}
			"

			data-field="CountryID"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CountryID_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CountryID" data-fieldname="CountryID">
	{$label tbl_address1 CountryID }	</span>
{END CountryID_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
				 
					{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$ProvinceID_class}
			"

			data-field="ProvinceID"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ProvinceID_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ProvinceID" data-fieldname="ProvinceID">
	{$label tbl_address1 ProvinceID }	</span>
{END ProvinceID_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
				 
					{BEGIN cellblock_grid_headcell_field19}
	<th
	
	{$cell_grid_headcell_field19}
	{$recordattrs}
	class="
		 r-ori-vert				{$ID_class}
			"

			data-field="ID"
	
	data-cellId="grid_headcell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ID_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="grid_field_label" {$item_grid_field_label} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ID" data-fieldname="ID">
	{$label tbl_address1 ID }	</span>
{END ID_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field19}
				 
					{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$companyname_class}
			"

			data-field="companyname"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN companyname_fieldheadercolumn}
	{BEGIN companyname_fieldheader}
	<SPAN {$companyname_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field_label1" {$item_grid_field_label1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="companyname" data-fieldname="companyname">
	{$label tbl_address1 companyname }	{$arrow_icon_companyname}
	</SPAN>
	{END companyname_fieldheader}
{END companyname_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
				 
					{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$provincecode_class}
			"

			data-field="provincecode"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN provincecode_fieldheadercolumn}
	{BEGIN provincecode_fieldheader}
	<SPAN {$provincecode_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field_label2" {$item_grid_field_label2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="provincecode" data-fieldname="provincecode">
	{$label tbl_address1 provincecode }	{$arrow_icon_provincecode}
	</SPAN>
	{END provincecode_fieldheader}
{END provincecode_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
							</tr>
					 
					 
					
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$address_class}
			"

			data-field="address"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN address_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="address" data-fieldname="address" data-default-width >
{$address_value}
</span>
{END address_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$CompanyID_class}
			"

			data-field="CompanyID"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CompanyID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CompanyID" data-fieldname="CompanyID" data-default-width >
{$CompanyID_value}
</span>
{END CompanyID_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$AddressTypeID_class}
			"

			data-field="AddressTypeID"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN AddressTypeID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="AddressTypeID" data-fieldname="AddressTypeID" data-default-width >
{$AddressTypeID_value}
</span>
{END AddressTypeID_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
				 
					{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$Description_class}
			"

			data-field="Description"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Description_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Description" data-fieldname="Description" data-default-width >
{$Description_value}
</span>
{END Description_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
				 
					{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$Address1_class}
			"

			data-field="Address1"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Address1_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Address1" data-fieldname="Address1" data-default-width >
{$Address1_value}
</span>
{END Address1_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
				 
					{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$City_class}
			"

			data-field="City"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN City_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="City" data-fieldname="City" data-default-width >
{$City_value}
</span>
{END City_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
				 
					{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$PostalCode_class}
			"

			data-field="PostalCode"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN PostalCode_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="PostalCode" data-fieldname="PostalCode" data-default-width >
{$PostalCode_value}
</span>
{END PostalCode_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
				 
					{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$CountryID_class}
			"

			data-field="CountryID"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CountryID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CountryID" data-fieldname="CountryID" data-default-width >
{$CountryID_value}
</span>
{END CountryID_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
				 
					{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$ProvinceID_class}
			"

			data-field="ProvinceID"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ProvinceID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ProvinceID" data-fieldname="ProvinceID" data-default-width >
{$ProvinceID_value}
</span>
{END ProvinceID_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
				 
					{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$ID_class}
			"

			data-field="ID"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field" {$item_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ID" data-fieldname="ID" data-default-width >
{$ID_value}
</span>
{END ID_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
				 
					{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$companyname_class}
			"

			data-field="companyname"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN companyname_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field1" {$item_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="companyname" data-fieldname="companyname" data-default-width >
{$companyname_value}
</span>
{END companyname_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
				 
					{BEGIN cellblock_grid_cell_field13}
	<td
	
	{$cell_grid_cell_field13}
	{$recordattrs}
	class="
		 r-ori-vert				{$provincecode_class}
			"

			data-field="provincecode"
	
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN provincecode_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field2" {$item_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="provincecode" data-fieldname="provincecode" data-default-width >
{$provincecode_value}
</span>
{END provincecode_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field13}
							</tr>
					 
					
											{END grid_row}
					</tbody>
													<tfoot>
					
		 
					 
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_address1_list"	
	>

	
	</td>
	{END cellblock_grid_cell_field12}
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_address1_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_address1_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
				 
					{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_address1_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
				 
					{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_address1_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
				 
					{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_address1_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
				 
					{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_address1_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
				 
					{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_address1_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
				 
					{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_address1_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
				 
					{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_address1_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
				 
					{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_address1_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
				 
					{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="tbl_address1_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
