<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel vw_contacts search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="ID" data-fieldname="ID" >


	<label class="r-search-label control-label" for="{$labelfor_ID}">
		{$label vw_contacts ID }	</label>
	<div class="r-search-option">
		{$searchtype_ID}
	</div>
	<div class="r-search-field">
		{$ID_editcontrol}	</div>
	<div class="r-search-field">
		{$ID_editcontrol1}
	</div>
	
</div>

{END ID_fieldblock}
											
{BEGIN CompanyID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CompanyID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CompanyID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="CompanyID" data-fieldname="CompanyID" >


	<label class="r-search-label control-label" for="{$labelfor_CompanyID}">
		{$label vw_contacts CompanyID }	</label>
	<div class="r-search-option">
		{$searchtype_CompanyID}
	</div>
	<div class="r-search-field">
		{$CompanyID_editcontrol}	</div>
	<div class="r-search-field">
		{$CompanyID_editcontrol1}
	</div>
	
</div>

{END CompanyID_fieldblock}
											
{BEGIN ContactName_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ContactName}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ContactName{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="ContactName" data-fieldname="ContactName" >


	<label class="r-search-label control-label" for="{$labelfor_ContactName}">
		{$label vw_contacts ContactName }	</label>
	<div class="r-search-option">
		{$searchtype_ContactName}
	</div>
	<div class="r-search-field">
		{$ContactName_editcontrol}	</div>
	<div class="r-search-field">
		{$ContactName_editcontrol1}
	</div>
	
</div>

{END ContactName_fieldblock}
											
{BEGIN ContactTitle_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ContactTitle}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ContactTitle{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="ContactTitle" data-fieldname="ContactTitle" >


	<label class="r-search-label control-label" for="{$labelfor_ContactTitle}">
		{$label vw_contacts ContactTitle }	</label>
	<div class="r-search-option">
		{$searchtype_ContactTitle}
	</div>
	<div class="r-search-field">
		{$ContactTitle_editcontrol}	</div>
	<div class="r-search-field">
		{$ContactTitle_editcontrol1}
	</div>
	
</div>

{END ContactTitle_fieldblock}
											
{BEGIN ContactPrimaryEmail_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ContactPrimaryEmail}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ContactPrimaryEmail{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="ContactPrimaryEmail" data-fieldname="ContactPrimaryEmail" >


	<label class="r-search-label control-label" for="{$labelfor_ContactPrimaryEmail}">
		{$label vw_contacts ContactPrimaryEmail }	</label>
	<div class="r-search-option">
		{$searchtype_ContactPrimaryEmail}
	</div>
	<div class="r-search-field">
		{$ContactPrimaryEmail_editcontrol}	</div>
	<div class="r-search-field">
		{$ContactPrimaryEmail_editcontrol1}
	</div>
	
</div>

{END ContactPrimaryEmail_fieldblock}
											
{BEGIN ContactPrimaryPhone_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ContactPrimaryPhone}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ContactPrimaryPhone{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="ContactPrimaryPhone" data-fieldname="ContactPrimaryPhone" >


	<label class="r-search-label control-label" for="{$labelfor_ContactPrimaryPhone}">
		{$label vw_contacts ContactPrimaryPhone }	</label>
	<div class="r-search-option">
		{$searchtype_ContactPrimaryPhone}
	</div>
	<div class="r-search-field">
		{$ContactPrimaryPhone_editcontrol}	</div>
	<div class="r-search-field">
		{$ContactPrimaryPhone_editcontrol1}
	</div>
	
</div>

{END ContactPrimaryPhone_fieldblock}
											
{BEGIN LeadSourceID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_LeadSourceID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="LeadSourceID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="LeadSourceID" data-fieldname="LeadSourceID" >


	<label class="r-search-label control-label" for="{$labelfor_LeadSourceID}">
		{$label vw_contacts LeadSourceID }	</label>
	<div class="r-search-option">
		{$searchtype_LeadSourceID}
	</div>
	<div class="r-search-field">
		{$LeadSourceID_editcontrol}	</div>
	<div class="r-search-field">
		{$LeadSourceID_editcontrol1}
	</div>
	
</div>

{END LeadSourceID_fieldblock}
											
{BEGIN UserID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_UserID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="UserID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="UserID" data-fieldname="UserID" >


	<label class="r-search-label control-label" for="{$labelfor_UserID}">
		{$label vw_contacts UserID }	</label>
	<div class="r-search-option">
		{$searchtype_UserID}
	</div>
	<div class="r-search-field">
		{$UserID_editcontrol}	</div>
	<div class="r-search-field">
		{$UserID_editcontrol1}
	</div>
	
</div>

{END UserID_fieldblock}
											
{BEGIN contact_details_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contact_details}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contact_details{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="contact_details" data-fieldname="contact_details" >


	<label class="r-search-label control-label" for="{$labelfor_contact_details}">
		{$label vw_contacts contact_details }	</label>
	<div class="r-search-option">
		{$searchtype_contact_details}
	</div>
	<div class="r-search-field">
		{$contact_details_editcontrol}	</div>
	<div class="r-search-field">
		{$contact_details_editcontrol1}
	</div>
	
</div>

{END contact_details_fieldblock}
											
{BEGIN AddressID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_AddressID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="AddressID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="AddressID" data-fieldname="AddressID" >


	<label class="r-search-label control-label" for="{$labelfor_AddressID}">
		{$label vw_contacts AddressID }	</label>
	<div class="r-search-option">
		{$searchtype_AddressID}
	</div>
	<div class="r-search-field">
		{$AddressID_editcontrol}	</div>
	<div class="r-search-field">
		{$AddressID_editcontrol1}
	</div>
	
</div>

{END AddressID_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
